# data
*.gz
*runs/
*.npz
*.npy
*ucf/
*old_data/
*.pt
# python
*__pycache__
*.ipynb_checkpoints
*.vscode

# raw process data
*data/
*raw_data/

# models
*trained_models

# vim
*.swp

# vscode
*.vscode/

# mac
*.DS_Store
# sbatch files
*.out

# training logs
*logs/